#root {
  width: 100vw;
  height: 100vh;
}

*
body {
  margin: 0;
  /* cursor:none; */
  overflow-y: none;
  overflow-x: none;

}

body::-webkit-scrollbar {
  display: none;
}

.wheel{
  display: none;
position:absolute;
top:0;

opacity: 0.2;
img{
  width: 200px;
}


}

.overlay{
  position:absolute;
top:0;
left:0;
width:100vw;
height:100vh;
pointer-events: none;
}

.logo{
  display: none;
  position:absolute;
top:150px;
left:500px;

opacity: 1;
img{
  width: 600px;
  animation: bounce 0.4s infinite cubic-bezier(.71,1.94,.5,.61)

}
}


@keyframes bounce {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}